version: '3.9'

services:
  db:
    image: postgres:16
    container_name: hotel_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: hotel_redis
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./backend
    container_name: hotel_backend
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  celery_worker:
    build:
      context: ./backend
    container_name: hotel_celery
    command: celery -A config worker --loglevel=info
    volumes:
      - ./backend:/app
    depends_on:
      - backend
      - redis
    env_file:
      - .env

  celery_beat:
    build:
      context: ./backend
    container_name: hotel_celery_beat
    command: celery -A config beat --loglevel=info
    volumes:
      - ./backend:/app
    depends_on:
      - backend
      - redis
    env_file:
      - .env
  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"


volumes:
  postgres_data:
